#header{
    background: blue;
    width: 20%;
}
#slider
{
    background: green;
}
#service
{
    background: rebeccapurple;
}
#footer
{
    background: whitesmoke;
}
.test
{
    background: purple;
}
div
{
    background: red;
}
.span
{
    background: violet;
}